<p-tabs [value]="currentTab">
  <p-tablist>
    <p-tab [value]="0">Cities</p-tab>
    <p-tab [value]="1">Countries</p-tab>
    <p-tab [value]="2">Continents</p-tab>
    <div class="tabs-buttons">
      <p-button label="Reset" (onClick)="resetTabs()"></p-button>
      <p-button label="BOOM" (onClick)="currentTab = 1"></p-button>
    </div>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <cities />
    </p-tabpanel>
    <p-tabpanel [value]="1">
      <countries />
    </p-tabpanel>
    <p-tabpanel [value]="2">
      <continents />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
